@import "_variables.scss";

body {
  background-image: url('../images/concrete_seamless.png')
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navbar-inverse {
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
  text-transform: uppercase;
  background-color: #333;
  .navbar-brand {
    color: #FFF;
    span {
      color: #ff9900;
      margin-left: 2em;
    }
  }
  .navbar-nav>.active>a {
    color: #ff9900;
  }
}


.container {
  padding-top: 80px;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
}

.project-summary {
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
  border: 0.5em solid #CCC;
  border-radius: $border-radius-base;
  max-width: 330px;
  img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    width: 100%;
  }
  .caption {
    position:absolute;
    width:100%;
    height:80px;
    background-color: $gray-dark;
    bottom:0px;
    left:0px;
    transition: all 200ms ease-in-out;
    margin-bottom: -80px;
    text-align: center;
    padding: 0.5em 0 0;
    color: $gray-lighter;
    .title { text-transform: uppercase; font-weight:bold; margin-bottom: 0.5em; }
    .description { font-size: 0.9em; }
    .role { font-size: 0.9em; }
  }
}
.project-summary:hover {
  border-color: $gray-light;
  .caption {
    margin-bottom: 0px;
  }
  img {
    -webkit-filter: none;
            filter: none;
  }
}

.details {
  .description {
    margin-bottom: 1.5em;
  }
  .screenshot {
    margin-bottom: 1em;
    img {
      width: 100%;
      max-width: 610px;
    }
  }
}

  .well {
    .title {
      font-size: 1.1em;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1em;
    }
    max-width: 640px;
    div:last-child {
      margin-bottom: 0;
    }
  }
