<div class="container">

  <navbar></navbar>

  <section class="well center-block">

    <div class="pull-right">
      <div style="text-align:center;">
        <a href="assets/Bethany_Smith_Resume.pdf" download>
          <img src="images/adobe_pdf_icon.png"/>
          <br/>Resume
        </a>
      </div>
    </div>

    <p><img src="images/get_visual_fast.png"/></p>

    <div class="title">About Bethany</div>

    <p class="clearfix">
    Bethany Smith is a leading UX Designer and product development strategist helping clients
    explore product opportunities by defining innovative application solutions. Her key deliverables
    are visually rich concepts, mockups and prototypes that are used as tools to help team
    members understand and synthesize user, business and technical requirements prior to
    development, and to guide them to clear and compelling product strategies.
    </p>
    <p>
    Bethany’s experience comes from her many roles leading design and product strategy from the
    early idea phase through implementation and launch. She has lead strategic insight for many
    established and start-up companies and has worked on applications in finance, healthcare, consumer
    sales, social networking, marketing, and media organizations. Her clients include eBay,
    Cisco Systems, The Financial Times Group, Blue Shield of CA, Adobe Software and numerous
    start-ups.
    </p>
    <p>
    Prior to founding BAS Design, Bethany served as a Creative Director at vivid studios. At vivid
    she managed the overall direction and scope of large projects and led complex initiatives
    involving strategy, operations, design and technology for such clients as Toyota, American
    Century and OpenAuto.com. From 1995-98, she worked as a Creative Director and Senior
    Designer at OnDisplay (acquired by Vignette) and at design firm Aaron Marcus &amp; Associates,
    with clients American Airlines, Documentum and Warner Brothers.
    </p>
    <p>
    Bethany’s early career was spent at the Carnegie Mellon Robotics Institute as the in-house
    UI/IA designer on teams for military/DOD projects. She was part of the 1994 team which
    developed the interface for the first web-based video teleconferencing/whiteboard application
    for the US Navy (METOC Weather Anchor Desk). She was also instrumental in developing the
    mobile/wearable project “VuMan” (virtual vision) for the US Marines, projecting critical assault
    vehicle data onto a one square inch head-mounted display.
    </p>
    <p>
    Throughout her career, Bethany has designed applications across multiple platforms, including
    hardware devices, web clients, SaaS, mobile, browser ad-ons and web-based mashups.
    </p>
    <p>
    Bethany received a BFA from Carnegie Mellon University School of Design in 1994.
    </p>

  </section>

</div>
