<div class="container">

  <navbar></navbar>

  <div class="details">

    <section class="well center-block" ng-repeat="section in vm.sections">
      <div class="title">{{section.title}}</div>
      <div class="description">{{section.description}}</div>
      <div class="screenshot" ng-repeat="image in section.images" ng-if="section.images">
        <img ng-src="/projects/{{vm.id}}/{{image}}" />
      </div>
    </section>

    <section class="well center-block" ng-if="vm.secure">
      <div class="title">Stairway. Denied.</div>
      <p>Oops. You need permission to view this. Contact <a href="mailto:info@basdesign.com">Bethany</a> to arrange access.</p>
    </section>

  </div>

</div>
